#image {
    position: absolute;
    border: solid 1px #000;
}

.highlighter {
    position: absolute;
    /* IE */
    filter:alpha(opacity=50); 
    /*Mozilla / Firefox */
    -moz-opacity: 0.5;
    /* Safari and Konqueror */
    -khtml-opacity: 0.5;
    /* CSS 3*/
    opacity: 0.5;    
}

#highlight-string {
    border: solid 1px #f0f;
    background-color: #00C;
}
#highlight-line {
    border: solid 1px #f00;
    background-color: #99FF99;
}
#highlight-block {
    border: solid 1px #1f1;
    background-color: #FFCCFF;
}
#highlight-printspace {
    border: solid 1px #00f;
    background-color: #00CCFF;
}
